My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 59
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        -16
      ],
      "id": "d02d60e1-5371-4003-bba2-b7a6153ccc70",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines?language=en",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "6bce66395c184018baa9503b13d5a48c"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        -16
      ],
      "id": "0fbdf573-07ea-4523-89f2-01a876d2bee4",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        424,
        208
      ],
      "id": "ab5d323d-0254-45e7-a3a4-518c755a9d24",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FiG5sAJgJmbM86wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1440719112325038193/1Ohd5iFrIAIKNPEefeEFKKmgZkKhR0gGsP5J-Fl6AcCCo4PVIQj1m8wHaXWeWsIYC5P7",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"content\": $json.text } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        -16
      ],
      "id": "769fb08d-19c9-4725-9d56-9971eec84992",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize these news headlines in a concise, engaging morning digest format:\n\n{{ $json.articles.map(article => article.title).join('\\n') }}",
        "batching": {}
      },
      "id": "e7d97b69-974d-4141-9f62-fb6e1407a8e6",
      "name": "Summarize Headlines",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        352,
        -16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Headlines",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Headlines": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4bda7c1-810d-4415-be73-2649db8f4a8d",
  "meta": {
    "instanceId": "c09216b58fff158301a7d435a72633728facec3d5edf560a51f651eafaa6355c"
  },
  "id": "lt60JN8jVxwo6Wpj",
  "tags": []
}